/* GameSelection.css */

.game-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .game-selection-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .game-button {
    width: 200px;
    padding: 15px;
    margin: 10px 0; /* Spacing between buttons */
    font-size: 18px;
    color: white;
    background-color: #2ea8b1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .game-button:hover {
    background-color:#0d5d52;
  }
  