/* GameSelection.css */

.game-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .game-selection-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  

  
  .game-selection-container {

    padding: 50px;
    max-width: 1000px;
    max-height: fit-content;
    text-align: center;
    background-color: #6ed6e6;
    /* overflow-y: auto; */
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .game-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .game-card {
    width: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .game-card:hover {
    transform: translateY(-5px);
  }
  
  .game-image {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  
  .game-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
  }
  
  .game-description {
    font-size: 0.9em;
    color: #666;
  }
  